<%- include('./components/header' , {title : title}) %>
<body>
    <%- include('./components/navbar') %>
    <h1 class="text-primary">Hello <%- name  %> </h1>
    <h1> <%- message %> </h1>
    <h1> <%- name  %> </h1>
    <h1> <%-  content.email %> </h1>
    <h1> <%-  content.tel %> </h1>
</body>
</html>